In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [1]:
import os
os.getcwd()

'/Users/austinclime/vs_code_projects/vix_approx/vix_approx_research/pulling_data'

In [ ]:
import wrds

In [3]:
db = wrds.Connection(wrds_username='aclime2')
#db.create_pgpass_file()#aclime2
#db.close()

Loading library list...
Done

# OptionMetrics Pull

In [7]:
from OptionMetrics_query import option_metric_query
query=option_metric_query('SPX',2023)
#query=option_metric_query('SPX',2023,month=7,day=3)
print(query)

years=range(2022,2023+1)
ticks=['SPX']

for tick in ticks:
    for year in years:
        print(tick,year)
        query=option_metric_query(tick,2023)
        df = db.raw_sql(query)
        dest=fr'OptionMetrics/{tick}_{year}.csv'
        df.to_csv(dest)

    SELECT *
    FROM optionm.opprcd2023 AS tbl
    WHERE secid = 108105

SPX 2022
SPX 2023

# CBOE VIX

In [12]:
from CBOE_query import cboe_vix__query
ticks=['vix'] #this is just the S&P500 VIX, CBOE puts other indexes in this file
query=cboe_vix__query(ticks)
#query=cboe_vix__query(['vix'],start='2004-05-08', end='2004-05-12')

df = db.raw_sql(query)
df.dropna(subset=df.columns[1:],inplace=True)
display(df)
dest=fr'CBOE/vix_hist.csv'
df.to_csv(dest)

             date    vix   vixo   vixh   vixl
1011   1990-01-02  17.24  17.24  17.24  17.24
1013   1990-01-03  18.19  18.19  18.19  18.19
1015   1990-01-04  19.22  19.22  19.22  19.22
1017   1990-01-05  20.11  20.11  20.11  20.11
1019   1990-01-08  20.26  20.26  20.26  20.26
...           ...    ...    ...    ...    ...
13333  2024-10-25  20.33  19.22  20.51  18.23
13334  2024-10-28  19.80  19.11  19.88  18.91
13335  2024-10-29  19.34  19.75  20.53  19.06
13336  2024-10-30  20.35  19.33  20.44  19.30
13337  2024-10-31  23.16  21.44  23.42  21.12

[11816 rows x 5 columns]